{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="header">
        <div class="title">Lista de Formas de Pagamento</div>
        <form method="GET" class="d-flex">
            <input type="text" name="search" value="{{ search_query }}" class="form-control me-2" placeholder="Pesquisar...">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
        <a href="{% url 'criar_forma_pagamento' %}" class="btn btn-primary">Adicionar Forma de Pagamento</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for forma in formas_pagamento %}
            <tr>
                <td>{{ forma.1 }}</td>
                <td>
                    <a href="{% url 'editar_forma_pagamento' forma.0 %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_forma_pagamento' forma.0 %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
